@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');
body{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    cursor: pointer;
}
p{
    font-size: 40px;
}
h2{
    font-size: 60px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    font-size: 40px;
    background-color: transparent;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

ul li a{
    padding: 0 20px;
}

.main::after{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1) 35%);
}
.main{
    width: 100%;
    height: 700px;
    padding-top: 10px;
    padding-left: 60px;
    font-size: 50px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://www.qatarairways.com/content/dam/images/renditions/horizontal-1/destinations/philippines/cebu/h1-cebu-philippines-beach-hn.jpg);
}

button{
    width: 200px;
    height: 80px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    font-size: 30px;
}
button:hover{
    background-color: white;
    color: #6c1541;
    cursor: pointer;
}
main{
    background-color: #f2f3fa;
}
.travel img{
    border-radius: 30px;
}
.travel{
    color: #6c1541;
    padding-left: 40px;
}
.options{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.travel .figure{
    width: 500px;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 30px;
    border: 4px solid #6c1541;
    font-size: 30px;
    line-height: 60px;
    font-weight: 500;
    color: #6c1541;
}
figcaption{
    padding-left: 30px;
}
.figure div{
    width: 500px;
    height: 200px;
    background-image: url(./fourth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fares{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   width: 100%;
   height: 1350px;
   margin-top: 60px;
}

.fares img{
    border-radius: 30px;
}
.fardivbig{
    width: 800px;
    height: 850px;
    margin: 240px auto;
    text-align: center;
    background-color: #6c1541;
    box-shadow: 0 15px 25px gray;
}

.fardivbig .text{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.fardivbig .text .second{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fardivbig .text .second button, .fardivsmall .second button{
    background-color: #ffa902;
    border-radius: 30px;
}
.fardivbig .text .second button:hover, .fardivsmall .second button:hover{
    background-color: white;
    border: 1px solid #ffa902;
    border-radius: 30px;
    cursor: pointer;
}

.fares .small{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 550px;
}

.fares .small .fardivsmall{
    width: 500px;
    height: 650px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #6c1541;
    box-shadow: 0 15px 25px gray;
    color: white;
}

.fares .small .fardivsmall, .fares .fardivbig{
    border-radius: 30px;
}