$main-color: deepskyblue;

body{
    margin: 0;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        padding: 0 10px;
        border-bottom: 2px dotted $main-color;
    
        .right{
            display: flex;
            flex-wrap: wrap;

            div{
                width: 60px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 5px;
            }

            div:hover{
                cursor: pointer;
                border-radius: 5px;
                background-color: $main-color;
                color: white;
            }
        }
    }
}