.main{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 100px);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

div[class *= child]{
    color: white;
    text-align: center;
    line-height: 100px;
}
.child1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: aqua;
}

.child2{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: lavender;
}

.child3{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: darkorchid;
}

.child4{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: hotpink;
}