*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; //1rem = 10px
}

body{
  //  padding: 3rem;
    font-family: "Roboto", sans-serif;
   // font-weight: 400;
    // font-size: 1.6rem;
    //line-height: 1.7;
    //color: $color-gray-dark;

}